.about-me {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.about-me-container {
  width: 1200px;
  max-width: 80%;
  height: auto;
  padding: 40px;
  border-radius: 25px;
  border: solid #571A37;
  border-width: 5px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  opacity: 0;
}

.about-me-container > * {
  color: #571A37;
}

.about-me-container > h2 {
  display: flex;
  justify-content: center;
}