body {
  margin: 0px;
}

.resume-container {
  padding: 50px;

  display: flex;
  justify-content: center;
}

.resume-inner-container {
  width: 100%;
  max-width: 1500px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.resume-title {
  width: 100%;
}

h1 {
  margin: 0px;
  color: #571A37;
  font-size: 35px;
}

h2 {
  margin: 0px;
  color: #571A37;
  font-size: 30px;
}

p {
  font-size: 18px;
  font: Arial, Helvetica, sans-serif;
  color: black;
}

ul {
  color: black;
  margin-left: 30px;
  margin-top: 5px;
}

.bottom-border-custom {
  border-bottom: 5px solid #1C4E80;
  content: "";
}

.content {
  margin-top: 5px;
}

.resume-inner-container > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title-date-container {
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}