.work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 110px;
  padding-bottom: 50px;

  background-image: url("../../../public/watercolor-blue-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;

  /* box-shadow: inset 5px 5px 5px 5px #ffffff; */
}

.work-experience-info {
  display: flex;
  flex-direction: row;
  gap: 40px;

  margin-top: -20px;

  width: 100%;
  padding: 0px 50px;
  opacity: 0;
}

.work-experience-tools-info, 
.work-experience-skills-info
{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
}

.work-experience-tools-info > div,
.work-experience-skills-info > div {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.work-experience-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.work-experience-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.work-experience-tools-title,
.work-experience-skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-shadow {
  content: "";
  width: 100%;
  box-shadow: 0px 0px 8px 10px #ffffff;
  margin-bottom: -40px;
}

.work-experience-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
}

.work-experience-description {
  margin-top: 30px;
  font-size: 20px;
}

.work-experience p,
div.work-experience {
  color: #571A37;
}

.work-experience-transition-image {
  width: auto;
  height: auto;
  transform: rotate(90deg);
}

.work-experience-title-accent-image {
  width: auto;
  height: auto;
}

.work-experience-subtitle-accent-image {
  width: auto;
  height: auto;
  transform: rotateY(180deg);
}

.contact-section {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contact-section p,
.contact-section h5 {
  color: black;
}

.resume-button-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.resume-button {
  width: 100%;
  max-width: 350px;
  padding: 30px;

  background: linear-gradient(to right, #1C4E80 0 49%, black 49% 51%, #571A37 51% 100%);
  background-size: 205%;
  background-position: right;
  transition: background-position 0.5s linear;

  border: 2px solid black;
  border-radius: 100px;

  display: flex;
  justify-content: center;

  /* text styling */
  text-decoration: none;
  font-size: 40px; 
  color: white;
}

.resume-button:hover {
  background-position: left;
  transition: background-position 0.5s linear;
}

#work-experience {
  scroll-margin-top: 50px;
}

#web-developer {
  scroll-margin-top: 100px;
}

#front-end-developer {
  scroll-margin-top: 100px;
}

@media screen and (max-width: 769px) {
  .work-experience-info {
    flex-direction: column;
    align-items: center;
  }

  .work-experience-description {
    padding: 0px 15px;
    text-align: center;
  }

  .work-experience-tools,
  .work-experience-skills
  {
    width: 100%;
  }

  .work-experience-tools-info,
  .work-experience-skills-info
  {
    flex-direction: column;
    align-items: center;
  }

  .work-experience-tools-info > div,
  .work-experience-skills-info > div
  {
    width: 100%;
  }

  .contact-section > h5 {
    text-align: center;
  }
}