.scroll-animation-div {
  background-color: lime;
  width: 20%;
}

.border-scrolling-effect {
  animation: 1s border-scrolling-animation linear forwards;
  width: 20%;
}

@keyframes border-scrolling-animation {
  from {
    width: 20%;
  }

  to {
    width: 100%;
  }
}