@import url("../globals.css");

.top-section {
  height: 90vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: var(--primary--color);
}