:root {
  --black: #000000;
  --primary--color: #1C4E80;
  --secondary-color: #571A37;
  --tertiary-color: #FCF7F8;
  --text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}